@page "/tasklist"
@using Personal.Tasket.Client.Components

<PageTitle>Tasket</PageTitle>

<p>
	This is your <i>tasket</i> (task basket). A task is also called a <i>tisket</i>.<br />
	This app was created to allow any combination of loading/adding.<br />
	You can delete individual items, as well as wipe the entire list.
</p>

<TasketComponent Slogan="A tisket a tasket, put your task in the basket."/>
