@inject ILogger<AddTisketComponent> _logger;

<EditForm Model = "Tisket" OnValidSubmit="AddTisket">
	<InputText placeholder="Tisket" @bind-Value="Tisket.Title" />
	<ValidationMessage For="@(() => Tisket.Title)" />

	<InputText placeholder="Description (optional)" @bind-Value="Tisket.Description" />
	<ValidationMessage For="@(() => Tisket.Description)" />

	<button type="submit">Add</button>

	<DataAnnotationsValidator />
</EditForm>

@code {
	[Parameter] public EventCallback<TisketModel> AddCallback { get; set; }
	[Parameter] public TisketModel Tisket { get; set; } = new();

	async Task AddTisket()
	{
		await AddCallback.InvokeAsync(Tisket);
		Tisket = new();
	}
}
