@inject ILogger<TasketComponent> _logger;
@inject HttpClient Http;
@inject TasketState TasketState;

<p>@Slogan</p>

<AddTisketComponent NotifyOnAdd="StateHasChanged"/>
<p>
	<button type="button" @onclick="TasketState.EmptyTasket">Delete All Data</button>
</p>

@if (TasketState.Tasket.Count == 0)
{
	<p>Your tasket is empty.</p>
}
else
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Description</th>
				<th>Date/Time Added</th>
				<th>Date/Time Completed</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@if (TasketState.Tasket.Count > 0)
			{
				foreach (TisketModel tisket in TasketState.Tasket)
					{
						<TisketComponent Tisket = "tisket" NotifyOnDelete="StateHasChanged"/>
					}
			}
		</tbody>
	</table>
}

@code {
	[Parameter] public string Slogan { get; set; } = "";
}